* {
	box-sizing: border-box;
}
html,body{
	padding: 0px;
	margin: 0px;
}
.container-fluid{
	padding: 0px;
}
.col-md-2{
  padding: 0px;
  padding-left: 10px;	
  float: left;
  background-color: #2A3F54;
}
.navbar-title{
  height: 45px;
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
}
.navbar-title a{
  color: #F2F5F7;
}

.navbar-title a:hover{
  text-decoration: none;
}

.menu-section ul li ul li:before{
  background: #425668;
  bottom: auto;
  content: "";
  height: 8px;
  left: 23px;
  margin-top: 15px;
  position: absolute;
  right: auto;
  width: 8px;
  z-index: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.menu-section ul li ul li:after{
  border-left: 1px solid #425668;
  bottom: 0;
  content: "";
  left: 27px;
  position: absolute;
  top: 0;
}
.site-title i{
  border: 1px solid #eaeaea;
  border-radius: 50%;
  padding: 7px 7px;
}
.profile-pic img{
  width: 80px;
  height: 80px;
  margin-top: 10px;
}
.fa-envira {
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}
.profile-pic{
  width: 80px;
}
.profile-info{
  float: right;
  margin-top: -60px;
  margin-right: 35px;
  color: #F2F5F7;
}

.menu-section ul {
  margin-left: -15px;
}
.menu-section ul li ul{
  margin-left: 0px;
}
.menu-section ul li ul li a{
  padding-left: 50px;
}
.menu-section ul li a{
  color: #F2F5F7;
}
.menu-section ul li a:active{
  background-color: #374A5E;
  color: #F2F5F7;
}
.menu-section ul:hover{
  cursor: pointer;
}
.menu-section ul li a:hover{
  background-color: #374A5E;
}
.nav > li > a{
  display: block;
  padding: 13px 15px 12px;
  position: relative;
  margin: 0px;
}
.nav .side-menu> li.current-page, .nav.side-menu> li.active {
  border-right: 5px solid #1ABB9C;
}
.fa-chevron-down{
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  font-size: 8px;
}
.nav.side-menu > li.active > a{
  background: linear-gradient(#334556, #2c4257) repeat scroll 0 0%, #2a3f54 none repeat scroll 0 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.16) inset;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.body.nav-md ul.nav.child-menu li::before{
  background: #425668 none repeat scroll 0 0;
}

.navbar-nav .open .dropdown-menu.msg_list {
	width: 300px;
}
.navbar-nav .open .dropdown-menu {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #d9dee4;
	left: auto;
	margin-top: 0;
	position: absolute;
	right: 0;
}

.top_nav .nav>li>a:focus, .top_nav .nav>li>a:hover, .top_nav .nav .open>a, .top_nav .nav .open>a:focus, .top_nav .nav .open>a:hover {
  background: #D9DEE4;
}
.nav.navbar-nav>li>a {
  color: #515356 !important;
}
.top_nav .navbar-right li {
    position: relative;
  }
.top_nav .navbar-right li {
  display: inline-block;
  float: right;
  position: static;
}

ul.msg_list li {
  background: #f7f7f7;
  padding: 5px;
  display: flex;
  margin: 6px 6px 0;
  width: 96% !important;
}
ul.msg_list li:last-child {
  margin-bottom: 6px;
  padding: 10px;
}
ul.msg_list li a {
  padding: 3px 5px !important;
}
ul.msg_list li a .image img {
  border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  float: left;
  margin-right: 10px;
  width: 11%;
}
ul.msg_list li a .time {
  font-size: 11px;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  right: 35px;
}
ul.msg_list li a .message {
  display: block !important;
  font-size: 11px;
}
.dropdown-menu.msg_list span {
  white-space: normal;
}
.dropdown-menu {
  border: medium none;
  box-shadow: none;
  display: none;
  float: left;
  font-size: 12px;
  left: 0;
  list-style: none outside none;
  padding: 0;
  position: absolute;
  text-shadow: none;
  top: 100%;
  z-index: 1000;
  border: 1px solid #D9DEE4;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  
}
.dropdown-menu>li>a {
  color: #5A738E;
}
.navbar-nav .open .dropdown-menu {
  position: absolute;
  background: #fff;
  margin-top: 0;
  margin-right: -102px;
  border: 1px solid #D9DEE4;
  -webkit-box-shadow: none;
  right: 0;
  left: auto;
  width: 220px;
}
.navbar-nav .open .dropdown-menu.msg_list {
  width: 300px;
}
.info-number .badge {
  font-size: 10px;
  font-weight: normal;
  line-height: 13px;
  padding: 2px 6px;
  position: absolute;
  right: 2px;
  top: 8px;
}
ul.to_do {
  padding: 0;
}
ul.to_do li {
  background: #f3f3f3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  padding: 7px;
  margin-bottom: 5px;
  list-style: none;
}
ul.to_do p {
  margin: 0;
}
.user-profile img {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  margin-right: 10px;
}
.toggle {
  float: left;
  margin: 0;
  padding-top: 16px;
  width: 70px;
}
.toggle a {
  padding: 15px 15px 0;
  margin: 0;
  cursor: pointer;
}
.toggle a i {
  font-size: 26px;
  color: #23527C;
}
.top_nav .dropdown-menu li {
  width: 100%;
}
.top_nav .dropdown-menu li a {
  width: 100%;
  padding: 12px 20px;
}
.top_nav li a i {
  font-size: 15px
}

 
.bg-red {
  background: #E74C3C !important;
  border: 1px solid #E74C3C !important;
  color: #fff;
}
.row{
	margin-top: 60px;
	margin-left: 10px;
	margin-right: 5px;
}
.left{
  width: 10%;
  float: left;
  height: 65px;
  border-left: 2px solid #ADB2B5;
  margin-top: 10px;
}
.right{
	width: 175px;
}
.right span {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.count{
  font-size: 25px;
  color: #73879C;
}
.green{
  color: #1abb9c;
}
.count_top, .count_bottom{
  color: #73879C;
}
.navbar-nav > li >a {
	line-height: 32px;
}
.nav_menu {
  float: left;
  background: #EDEDED;
  border-bottom: 1px solid #D9DEE4;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
}
.col-md-10{
	padding: 0px;
}
.bg-white{
	background-color: #fff;
	float: right;
}
.progress {
  border-radius: 0;
  margin-bottom: 18px;
}
.progress.right .progress-bar {
  float: right;
  right: 0;
}
.progress.vertical {
  width: 40px;
}
.progress.progress_sm {
  border-radius: 0;
  margin-bottom: 18px;
  height: 10px !important;
}
.progress.progress_sm .progress-bar {
  height: 10px !important;
}
.progress .progress-bar {
  position: absolute;
  overflow: hidden;
  line-height: 20px;
}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.bg-green {
  background: #1ABB9C !important;
  border: 1px solid #1ABB9C !important;
  color: #fff;
}
h2 {
	font-size: 18px;
	font-weight: 400;
}
.red {
	color: #e74c3c;
}
.animated{
	background-color: #fff;
}
.navbar-right{
	margin-right: 0px;
}
.text{
	padding: 20px;
}
